<div class="login-container">
  <form class="login-form-container" action="/auth/login" method="POST" id="form-container">
    <h2>Login</h2>

    <div class="login-fields-container">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="JonSnow">
    </div>

    <div class="login-fields-container">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Your password">
    </div>

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Login</button>

    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>
  <img src="https://images-na.ssl-images-amazon.com/images/I/617nG2f9wxL.png" alt="image login">
</div>