<div class="signup-container">
  <h2 class="signup-title">Signup to Recipe Magic</h2>

  <div class="signup-form-container">
    <form class="form-container" action="/auth/signup" method="POST" id="form-container">
      <div class="label-input-container">
        <div class="signup-labelsAndInputs">
          <label for="username">Username:</label>
          <input class="signup-inputs" id="username" type="text" name="username" placeholder="Axl">
        </div>
        <div class="signup-labelsAndInputs">
          <label for="password">Password:</label>
          <input class="signup-inputs" id="password" type="password" name="password" placeholder="Ca23V.weY">
        </div>
        <div class="signup-labelsAndInputs">
          <label for="email">Email:</label>
          <input class="signup-inputs" id="email" type="email" name="email" placeholder="abc123@ironhack.com">
        </div>
      </div>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <div class="signup-btn-container">
        <button id="" class="btn-colletions">Create Account</button>
        <p class="account-message">
          Do you already have an account?
          <a href="/auth/login">Login</a>
        </p>
      </div>
    </form>

    <div class="google-container">
      <img src="https://image.flaticon.com/icons/svg/281/281764.svg" alt="logo google">
      <a href="/auth/google">Login With Google</a>
    </div>
  </div>
</div>