<p>quieres buscar recetas por ingredientes<a href="afkhsdf">click aqui</a></p>
<p>quieres ir a tus recetas favoritas<a href="afkhsdf">click aqui</a></p>
<p>quieres ir a todas tus recetas<a href="afkhsdf">click aqui</a></p>
<button id="search">hellooooooo</button>

<div id="vamos"></div>