<h1>hola Ususario</h1>

<div class="usersearch-container">
  <div class="search-container">
    <div class="ingredient-container">
      <div class="ingredient-label">
        <label for="ingredient-1">Ingrediente No 1:</label>
        <label for="ingredient-2">Ingrediente No 2:</label>
        <label for="ingredient-3">Ingrediente No 3:</label>
      </div>
      <div class="ingredient-input">
        <input id="ingredient-1" type="text" placeholder="e.g. tomatoes">
        <input id="ingredient-2" type="text" placeholder="e.g. sal">
        <input id="ingredient-3" type="text" placeholder="e.g. pepper">
      </div>
    </div>

    <button id="btn-searchRecipes" type="submit">Search Recipes</button>
  </div>

  <div class="recipes-container">
    <h3>Result search:</h3>
    <p>Receta No 1: <span>Receta original de borja y cris.</span></p>
    <p>Receta No 2: <span>Receta original de borja y cris.</span></p>
    <p>Receta No 3: <span>Receta original de borja y cris.</span></p>
    <p>Receta No 4: <span>Receta original de borja y cris.</span></p>
  </div>

</div>