<div class="userprofile-container">

  <h1>hola {{user.username}}</h1>

  <div class="userprofile-img-recipes">
    
    <img src="https://www.inspiredtaste.net/wp-content/uploads/2018/12/Sauteed-Zucchini-Recipe-1-1200.jpg"
      alt="image recipes">
    <img src="https://www.inspiredtaste.net/wp-content/uploads/2018/12/Sauteed-Zucchini-Recipe-1-1200.jpg"
      alt="image recipes">
    <img src="https://www.inspiredtaste.net/wp-content/uploads/2018/12/Sauteed-Zucchini-Recipe-1-1200.jpg"
      alt="image recipes">
  </div>

  <div class="userprofile-links">
    <a href="/profile/userSearchRecipes">Buscar Recetas</a>
    <a href="">Recetas Favoritas</a>
    <a href="">Todas Tus Rectas</a>
  </div>

</div>