<div class="usersearch-container">
  <div class="search-container">
  <h1>hola {{user.username}}</h1>
    <div class="ingredient-container">
      <div class="ingredient-label">
        <label for="ingredient-1">Ingrediente No 1:</label>
        <label for="ingredient-2">Ingrediente No 2:</label>
        <label for="ingredient-3">Ingrediente No 3:</label>
      </div>
      <div class="ingredient-input">
        <input id="ingredient-1" type="text" placeholder="e.g. tomatoes" value="tomatoes">
        <input id="ingredient-2" type="text" placeholder="e.g. sal" value="meet">
        <input id="ingredient-3" type="text" placeholder="e.g. pepper" value="mushroom">
      </div>
    </div>

    <button id="btn-searchRecipes" type="submit">Search Recipes</button>
  </div>
  <div class="found-recipes-container">
    <h1>Result Search:</h1>
    <div id="found-recipes">
    </div>
  </div>
</div>