<div class="userprofile-container">

  <h1>Hello {{user.username}}:</h1>

  <div class="userprofile-img-recipes">
    
    <img src="https://www.inspiredtaste.net/wp-content/uploads/2018/12/Sauteed-Zucchini-Recipe-1-1200.jpg"
      alt="image recipes">
    <img src="https://www.inspiredtaste.net/wp-content/uploads/2018/12/Sauteed-Zucchini-Recipe-1-1200.jpg"
      alt="image recipes">
    <img src="https://www.inspiredtaste.net/wp-content/uploads/2018/12/Sauteed-Zucchini-Recipe-1-1200.jpg"
      alt="image recipes">
  </div>

  <div class="userprofile-links">
    <a href="/profile/userSearchRecipes">Search Recipes</a>
    <a href="/profile/collections">All your recipes</a>
    <a href="">Favorite recipes</a>
  </div>

</div>