  <h1 class="signup-title">Hello {{user.username}}:</h1>
<div class="userprofile-container">


  <div class="userprofile-img-recipes">
    
    <img src="https://happyhealthykiwi.files.wordpress.com/2015/04/wpid-2015-04-13-19-20-45.png"
      alt="image recipes">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxKHySwwi4I_qn3ZP1flGVItZ22s378kUeZvnFeuTufkOc-IaG2g"
      alt="image recipes">
  </div>

  <div class="userprofile-links">
    <a href="/profile/userSearchRecipes">Search Magics Recipes</a>
    <a href="/profile/collections">All Your Magic Recipes</a>
  </div>

</div>