<div class="home-container">
  <div class="img-home-center-container">
    <img class="img-home-center"
      src="https://i.pinimg.com/originals/eb/47/f3/eb47f38b9af48a1679b97d79f8f417db.jpg" alt="my recipe magic">
  </div>
  <div class="home-recipes-container">
    <img src="https://myrecipehampers.files.wordpress.com/2013/04/mrh-square-logo.png" alt="image recipes 1">
    <img src="https://myrecipehampers.files.wordpress.com/2013/04/mrh-square-logo.png" alt="image recipes 2">
    <img src="https://myrecipehampers.files.wordpress.com/2013/04/mrh-square-logo.png" alt="image recipes 3">

  </div>
</div>