<div class="home-container">
  <div class="img-home-center-container">
    <img class="img-home-center"
      src="https://i.pinimg.com/originals/eb/47/f3/eb47f38b9af48a1679b97d79f8f417db.jpg" alt="my recipe magic">
  </div>
  <div class="home-recipes-container">
    <img src="https://media3.s-nbcnews.com/i/newscms/2019_36/1478750/food-today-main6-190905_a0832881825351c19b72ca879d907e55.jpg" alt="image recipes 1">
    <img src="https://img.taste.com.au/UCkD8VfP/w1200-h630-cfill/taste/2016/11/chicken-and-prosciutto-parmigiana-79468-1.jpeg" alt="image recipes 2">
    <img src="https://media4.s-nbcnews.com/j/newscms/2019_25/1451601/alejandra-ramos-today-main-190621-07_252122dd4c787cb1aae78199b6ad9331.today-inline-large.jpg" alt="image recipes 3">

  </div>
</div>